/* reset styles */

h1, h2, h3, h4, h5, h6{
	padding: 0;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style-type: none;
}

body{
	color: #fff;
	font-family: 'Raleway', sans-serif;
}

a{
	cursor: pointer;
}

a:hover{
	color: inherit;
}

#viewport-wrapper{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
}
#viewport{
	width: 100%;
	height: 100%;
}

.routeList{
	list-style-type: none;	
}

.info-window{
	width: 100%;
}

/* UI styles */

.ui-element{
	border: 1px solid #fff;
	background-color: rgba(0, 0, 0, 0.85);
	padding: 5px;
}

.slider{
	text-align: center;
}

.toggle-wrapper{
	border: 1px solid #fff;
	background-color: #777;
}
.toggle{
	font-size: 0.8em;
	color: #fff;
}

.toggler.open .toggle.top:before{
	content: "\2227";
}

.toggle.top:before{
	content: "\2228";
}

.toggle.left{
	width: 30px;
	position: absolute;
	top: -1px;
	left: -1px;
	bottom: -1px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.slider-bottom{
	position: fixed;
	bottom: 0;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-bottom: none;
}
.slider-bottom .toggle-wrapper{
	position: absolute;
	top: -1px;
	left: -1px;
	right: -1px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.train-feed{
	padding-top: 30px;
	right: 1em;
}

.user-location{
	right: 150px;
}

.train-updaters button{
	min-width: 70px;
}

.alert-pane{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 306px;
	min-height: 1em;
	min-width: 5em;
	border-bottom: none;
	border-left: none;
	border-top-right-radius: 10px;
	overflow: hidden;
}
#alert-message{
	color: #aaa;
}
#alert-message.warning{
	color: #c33;
}

/* modal window styles */

#modal-info-wrapper{
	position: fixed;
	top: 0;
	width: 30%;
	right: -35%;
	bottom: 280px;
	margin-top: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	transition: right 0.5s ease-in-out;
	padding-left: 35px;
}
.modal-scroller{
	overflow: auto;
	height: 100%;
}

#modal-info-wrapper.visible{
	right: -1px;
}

.close-marker{
	position: absolute;
	top: 50%;
	left: 50%;
	height: 30%;
	width: 50%;
	margin: -15% 0 0 -25%;
	text-align: center;
}

.prediction-well{
	padding-left: 10px;
}

/* mobile styles */
@media screen and (max-device-width: 500px) {
	#modal-info-wrapper{
		bottom: 0;
		margin: 5px;
		margin-right: -1px;
		right: -100%;
		left: 100%;
		z-index: 1;
		transition: left 0.5s ease-in-out;
		min-width: 90%;
	}
	#modal-info-wrapper.visible{
		left: -1px;
	}
	.alert-pane{
		display: none;
	}
	.train-updaters button{
		min-width: 110px;
	}
	.width-standardizer{
		min-width: 152px;
	}

	.train-feed{
		right: 5px;
	}

	.user-location{
		right: 175px;
		font-size: 0.8em;
	}
}